In [0]:
! rm -rf StockData
! git clone https://github.com/shivampip/StockData.git

Cloning into 'StockData'...
remote: Enumerating objects: 19, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (14/14), done.
remote: Total 19 (delta 3), reused 15 (delta 2), pack-reused 0
Unpacking objects: 100% (19/19), done.

In [0]:
! pip install yfinance --upgrade --no-cache-dir

In [0]:
! ls StockData/yahoo/util

 EQUITY_L.csv
 NSE-Stock-LIST-1411-Stocks-Generated-on-25may2017.xlsx
 symbolchange.csv
'Yahoo Finance Stock Codes till_2012_BSE.csv'
'Yahoo Finance Stock Codes till_2012_NSE.csv'
'Yahoo Finance Stock Codes till_2012.xlsx'
 yahoo_nse_ticker_list.csv

In [0]:
# data.to_csv("drive/My Drive/Stock Data/BSE/{}_{}_{}.csv".format(code, name, description))

In [0]:
import pandas as pd
import yfinance as yf

### 30 Stocks Uptodate

In [0]:
tlist= pd.read_csv("StockData/yahoo/util/yahoo_nse_ticker_list.csv", encoding='latin-1')
tlist.shape

(30, 6)

In [0]:
tlist.head()

          Symbol                       Company name  ... % change       Volume
0       CIPLA.NS                      Cipla Limited  ...   -0.17%  1,22,65,617
1       TITAN.NS              Titan Company Limited  ...    0.33%    40,52,671
2         TCS.NS  Tata Consultancy Services Limited  ...    0.47%    33,36,220
3       WIPRO.NS                      Wipro Limited  ...   -0.50%    85,67,173
4  BAJAJ-AUTO.NS                 Bajaj Auto Limited  ...   -0.53%     7,64,196

[5 rows x 6 columns]

In [0]:
err_ticker= []

In [0]:
def download_data(ticker, cname, adjusted= True):
    print("Downloading {}".format(ticker))
    try:
        if(adjusted):
            data = yf.download(ticker, period= "max", auto_adjust= True)
            data.to_csv("drive/My Drive/Stock Data/Yahoo/NSE/30_Stocks_Uptodate/Adjusted/{}__{}.csv".format(ticker.replace(".", "_"), cname)) 
        else:
            tt= yf.Ticker(ticker)
            data= tt.history(period= "max", interval= "1d")
            data.to_csv("drive/My Drive/Stock Data/Yahoo/NSE/30_Stocks_Uptodate/Standard/{}__{}.csv".format(ticker.replace(".", "_"), cname)) 
    except Exception as e:
        err_ticker.append(ticker)
        print("ERROR IN: {}".format(ticker))

In [0]:
download_data("WIPRO.NS", "Wipro Limited", adjusted= True)

Downloading WIPRO.NS
[*********************100%***********************]  1 of 1 completed

In [0]:
for ticker, cname in zip(tlist['Symbol'], tlist['Company name']):
    download_data(ticker, cname)
    download_data(ticker, cname, adjusted= False)

### All till 2012

In [0]:
nselist= pd.read_csv("StockData/yahoo/util/Yahoo Finance Stock Codes till_2012_NSE.csv")
nselist.shape

(1564, 3)

In [0]:
bselist= pd.read_csv("StockData/yahoo/util/Yahoo Finance Stock Codes till_2012_BSE.csv")
bselist.shape

(2996, 3)

In [0]:
def get_data(ticker, cname, adjusted= True):
    # print("Downloading {}".format(ticker))
    try:
        if(adjusted):
            data = yf.download(ticker, period= "max", auto_adjust= True)
            return data
            # data.to_csv("drive/My Drive/Stock Data/Yahoo/NSE/30_Stocks_Uptodate/Adjusted/{}__{}.csv".format(ticker.replace(".", "_"), cname)) 
        else:
            tt= yf.Ticker(ticker)
            data= tt.history(period= "max", interval= "1d")
            return data
            # data.to_csv("drive/My Drive/Stock Data/Yahoo/NSE/30_Stocks_Uptodate/Standard/{}__{}.csv".format(ticker.replace(".", "_"), cname)) 
    except Exception as e:
        err_ticker.append(ticker)
        # print("ERROR IN: {}".format(ticker))
        return None

In [0]:
nselist.head(2)

   NSE Symbol    Yahoo Code                            Security Name
0  3IINFOTECH  3IINFOTEC.NS                      3i Infotech Limited
1  ADVANIHOTR  ADVANIHOT.NS  Advani Hotels & Resorts (India) Limited

In [0]:
errs= []
for code, name in zip(nselist['Yahoo Code'], nselist['Security Name']):
    data= get_data(code, name)
    if(data is not None):
        data.to_csv("drive/My Drive/Stock Data/Yahoo/NSE/Stocks_listed_till_2012/Adjusted/{}__{}.csv".format(code.replace(".", "_"), name))

    data= get_data(code, name, adjusted= False)
    if(data is not None):
        data.to_csv("drive/My Drive/Stock Data/Yahoo/NSE/Stocks_listed_till_2012/Standard/{}__{}.csv".format(code.replace(".", "_"), name))
    else:
        errs.append(code)

In [0]:
print(bselist.shape)
bselist.head(2)

(2996, 3)

   BSE Code Yahoo Code  Company Name
0    532628  532628.BO  3I INFOTECH
1    523395  523395.BO  3M INDIA LTD

In [0]:
errs= []
count= 0
for code, name in zip(bselist['Yahoo Code'], bselist['Company Name']):
    count+= 1
    print("Count: {}: {}".format(count, code))
    data= get_data(code, name)
    if(data is not None):
        data.to_csv("drive/My Drive/Stock Data/Yahoo/BSE/Stocks_listed_till_2012/Adjusted/{}__{}.csv".format(code.replace(".", "_"), name))

    data= get_data(code, name, adjusted= False)
    if(data is not None):
        data.to_csv("drive/My Drive/Stock Data/Yahoo/BSE/Stocks_listed_till_2012/Standard/{}__{}.csv".format(code.replace(".", "_"), name))
    else:
        errs.append(code)

### List from NSE official (**BEST**)

In [0]:
nse= pd.read_csv("StockData/yahoo/util/EQUITY_L.csv")
nse.shape

(1628, 8)

In [0]:
nse.head()

       SYMBOL  ...  FACE VALUE
0   20MICRONS  ...           5
1  21STCENMGM  ...          10
2  3IINFOTECH  ...          10
3     3MINDIA  ...          10
4      3PLAND  ...           2

[5 rows x 8 columns]

In [0]:
nse.columns

Index(['SYMBOL', 'NAME OF COMPANY', ' SERIES', ' DATE OF LISTING',
       ' PAID UP VALUE', ' MARKET LOT', ' ISIN NUMBER', ' FACE VALUE'],
      dtype='object')

In [0]:
nse[' SERIES'].unique()

array(['EQ', 'BE', 'BZ'], dtype=object)

In [0]:
nse[nse[' SERIES']=='BZ'].head()

         SYMBOL  ...  FACE VALUE
176  BARTRONICS  ...          10
246       CANDC  ...          10
290       CKFSL  ...          10
309   COX&KINGS  ...           5
357    DIAPOWER  ...          10

[5 rows x 8 columns]

In [0]:
data= get_data("CANDC.NS", name)
data.shape

[*********************100%***********************]  1 of 1 completed

(3226, 5)

In [0]:
errs= []
count= 0
for symbol, name, series in zip(nse['SYMBOL'], nse['NAME OF COMPANY'], nse[' SERIES']):
    count+= 1
    code= symbol+".NS"
    print("Remaining : {}, Symbol: {}".format(1628- count, code))
    data= get_data(code, name)
    if(data is not None):
        data.to_csv("drive/My Drive/Stock Data/Yahoo/NSE/NSE_Official_List/Adjusted/{}_{}__{}.csv".format(series, symbol, name))

    data= get_data(code, name, adjusted= False)
    if(data is not None):
        data.to_csv("drive/My Drive/Stock Data/Yahoo/NSE/NSE_Official_List/Standard/{}_{}__{}.csv".format(series, symbol, name))
    else:
        errs.append(code)

### NSE Official Full Data

In [0]:
from datetime import datetime, timedelta

In [0]:
nse.head(2)

       SYMBOL  ...  FACE VALUE
0   20MICRONS  ...           5
1  21STCENMGM  ...          10

[2 rows x 8 columns]

In [0]:
print(nse.shape)
print(nse.columns)

(1628, 8)
Index(['SYMBOL', 'NAME OF COMPANY', ' SERIES', ' DATE OF LISTING',
       ' PAID UP VALUE', ' MARKET LOT', ' ISIN NUMBER', ' FACE VALUE'],
      dtype='object')

In [0]:
def just_do_it(symbol, adjusted= True):
    code= symbol+".NS"
    try:
        data1h= yf.download(
            tickers= code,
            period= "2y",
            interval= "1h",
            auto_adjust= adjusted
        )
        return data1h
    except Exception as e:
        return None

In [0]:
data= just_do_it("20MICRONS", False)
data.head(2)

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
2018-04-16  53.000000  54.150002  53.000000  53.450001  53.450001   66494
2018-04-16  53.200001  54.700001  53.150002  53.750000  53.750000   75140

In [0]:
for i in range(nse.shape[0]):
    row= nse.iloc[i,:]

    symbol= row['SYMBOL']
    name= row['NAME OF COMPANY']
    series= row[' SERIES']
    print("Count: {}, Symbol: {}".format(i, symbol))

    data= just_do_it(symbol, adjusted= True)
    if(data is not None):
        data.to_csv("drive/My Drive/Stock Data/Yahoo/NSE/NSE_Official_1Hour_2Year/Adjusted/{}_{}__{}.csv".format(series, symbol, name))

    data= just_do_it(symbol, adjusted= False)
    if(data is not None):
        data.to_csv("drive/My Drive/Stock Data/Yahoo/NSE/NSE_Official_1Hour_2Year/Standard/{}_{}__{}.csv".format(series, symbol, name))

### Well Done Shivam